body {
    font-family: 'Space Grotesk', sans-serif;;
    margin: 0;
    height: 100vh;
    background: linear-gradient(to top, #0a0f0a, #b4ff7f);
}
.wrapper {
    position: relative;
    height: 750px; 
    border: 2px solid black;
    display: flex;
}
.section1 {
    background: #fff;
    width: 40%;
    height: 630px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    padding: 20px;
    position: relative;
    z-index: 2;
    top: 60px;
    left: 100px;
  }
.section2 {
    background: #ffffff;
    width: 30%;
    height: 1500px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    position: absolute;
    left: 500px;
    transform: translateY(-50%);
    z-index: 1;
}
.container-fluid{
    padding-left: 0%;
}
.navbar{
   --bs-navbar-padding-x: none;
}
.bg-body-tertiary{
    background-color:white!important;
}
.nav-item{
    margin-top: 10px;
    width: 50px;
    font-size: 8px;
}
.img{
    height: 25px;
}
.btn {
    height: 35px !important;
    width: 145%;
}
.navbar-collapse{
    margin-left: 10px;
}
.navbar-nav .nav-link.active{
    width: 70px;
}
.img1{
    width: 100%;
}