body{
    font-family:'Merriweather', serif;
    padding: 40px;
    color: rgb(0, 0, 0);
}

.col-sm-6{
    text-align: center;
}
tbody{
    text-align: center;
}
button{
    height: 30px;
    border: 2px solid;
}
input{
    border: 2px solid
}